.carousel {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 800px;
  height: 800px;
  overflow: hidden;
}

.carousel-container {
  width: 100%;
  transform-style: preserve-3d; /* 3D-преобразования */
}

.carousel-item {
  box-sizing: border-box;
}


.carousel-item:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  transform: scale(1.1);
}

.carousel-img {
  width: 194px;
  transition: transform 0.3s ease;
}

.carousel-item:hover .carousel-img {
  transform: rotate(15deg);
}