
/* Carousel.scss */
.carousel {
  position: relative;
  width: 400px; /* Размер карусели */
  height: 400px;
  margin: 0 auto;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.carousel-container {
  position: relative;
  width: 100%;
  height: 100%;
  transform-origin: center; /* Вращение вокруг центра */
  transition: transform 0.1s linear;
}

.carousel-item {
  position: absolute;
  width: 40px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.carousel-img {
  width: 116px;
  height: auto;
  object-fit: contain;
  margin-left: -120px;
}
