.Groups{
  margin-top: 50px;

  .group-page-title {
    font-family: Open Sans, serif;
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;
    letter-spacing: -0.41px;
    color: #00FF66CC;
  }
}

