.Footer{
    width: 1440px;
    border: 2px solid red;
    height: 401px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .Footerin {
        width: 1240px;
height: 321px;
border: 2px solid black;
.Footer-top {
    width: 1240px;
height: 214px;
border: 2px solid red;
}
    }
}

