@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&family=Open+Sans:wght@400;600&family=Poppins:wght@400;600;700&display=swap');

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  background: rgb(13, 17, 23);
  position: relative;
  padding: 20px 0;


  .Footerin {
    border-top: 2px solid rgb(86, 20, 147);
    display: flex;
    padding: 70px 0;
  }

  .Footer-top {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  .icon-foot {
    display: flex;
    flex-direction: column;
    justify-content: center;

    img {
      width: 236px;
    }

    h1 {
      font-family: 'Poppins', sans-serif;
      color: rgba(0, 255, 102, 0.8);
      font-size: 50px;
      font-weight: 700;
      line-height: 60px;
      margin: 0;
      letter-spacing: 1%;
    }
  }

  .Footer-nav {
    display: flex;
    flex-direction: column;
    
    h2 {
      color: rgb(86, 20, 147);
      font-size: 24px;
      margin: 0;
      font-family: 'Poppins', sans-serif;
    }

    p {
      margin: 5px 0;

      a {
        text-decoration: none;
        color: white;
        font-family: 'Open Sans', sans-serif;
        transition: color 0.3s ease;

        &:hover {
          color: rgb(86, 20, 147);
        }
      }
    }

    .active a {
      color: rgb(86, 20, 147);
      font-weight: bold;
      text-decoration: underline;
    }
  }

  .contact {
    width: 373px;
    height: 154px;
    display: flex;
    flex-direction: column;

    h1 {
      font-family: 'Poppins', sans-serif;
      color: rgb(86, 20, 147);
      font-size: 24px;
      margin: 0;
      font-weight: 600;
    }

    p {
      color: white;
      font-family: 'Open Sans', sans-serif;
      font-size: 16px;
      line-height: 24px;
    }

    .Lil-text {
      display: flex;
      gap: 10px;
      align-items: center;

      .ic {
        font-size: 30px;
        color: white;
        transition: color 0.3s ease-in-out;

        &:hover {
          color: rgb(86, 20, 147);
        }
      }
    }
  }

  .Footer-bottom {
    border-top: 2px solid rgb(86, 20, 147);
    padding: 10px 0;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.6);
  }
}
