$primary-color: rgba(86, 20, 147, 1);
$secondary-color: rgba(86, 115, 227, 1);
$white-color: rgba(255, 255, 255, 1);
$button-width: 294px;
$button-height: 70px;
$button-font-size: 22px;
$button-font-weight: 500;
$button-border-radius: 12px;

.Greeting {
  display: flex;

  .greeting-description {
    margin-top: 100px;
    border-radius: 30px;
    background-color: rgba(0, 255, 102, 0.7);
    width: 816px;
    max-height: 422px;
    padding: 60px ;
    z-index: 1;

    .text-box {
      width: 696px;
      height: 110px;
      font-family: Open Sans;
      font-weight: 700;
      font-size: 45px;
      line-height: 55px;
      letter-spacing: 0px;
      color: rgba(86, 20, 147, 1);
    }

    .p {
      color: rgba(13, 17, 23, 1);
      font-family: Open Sans;
      font-weight: 600;
      font-size: 21px;
      line-height: 35px;
      letter-spacing: 0px;
    }

    .Button {
      display: flex;
      margin-top: 20px;

      .read-more {
        font-size: $button-font-size;
        font-weight: $button-font-weight;
        border-radius: $button-border-radius;
        width: $button-width;
        height: $button-height;
        cursor: pointer;
        transition: background-color 0.3s ease, color 0.3s ease, transform 0.2s ease;
        border: 2px solid $primary-color;
        color: $primary-color;
        background-color: inherit;
        margin-right: 27px;

        &:hover {
          background-color: $primary-color;
          color: $white-color;
          transform: scale(1.05);
        }

        &:active {
          background-color: darken($primary-color, 10%);
          transform: scale(0.95);
        }

        &.active {
          background-color: $primary-color;
          color: $white-color;
        }
      }
    }
  }
}
